apiVersion: v1
data:
  POSTGRES_DATABASE: X
  POSTGRES_HOST: X
  POSTGRES_PASSWORD: X
  POSTGRES_PORT: X
  POSTGRES_USERNAME: X
  BASE_URL: X
  NODE_ENV: cHJvZHVjdGlvbg==
kind: Secret
metadata:
  name: exams-secret
  namespace: exams
type: Opaque
